[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "==0.5.0"
django = "==2.0.4"
gunicorn = "==19.7.1"
pillow = "==5.0.0"
"psycopg2" = "==2.7.4"
pytz = "==2018.3"
whitenoise = "==3.3.1"
django-heroku = "*"
django-storages = "==1.6.6"
boto3 = "==1.7.4"
botocore = "==1.10.4"
docutils = "==0.14"
jmespath = "==0.9.3"
python-dateutil = "==2.6.1"
s3transfer = "==0.1.13"
django-extensions = "==2.0.7"
beautifulsoup4 = "==4.6.0"
newspaper3k = "==0.2.6"
lxml = "==4.6.2"
six = "==1.11.0"
html5lib = "==1.0.1"
webencodings = "==0.5.1"
spacy = "==2.0.11"
spacy-nightly = "==2.0.0rc2"
ftfy = "==4.4.3"
en_core_web_en = { file = 'https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz' }
mailchimp3 = "==3.0.1"
sendgrid = "==5.3.0"
django-applepodcast = "==0.3.7"

[dev-packages]

[requires]
python_version = "3.6"
