beautifulsoup4==4.6.0
boto3==1.7.4
botocore==1.10.4
dj-database-url==0.5.0
Django==2.0.4
django-heroku==0.3.1
django-storages==1.6.6
docutils==0.14
gunicorn==19.7.1
jmespath==0.9.3
Pillow==5.0.0
psycopg2==2.7.4
python-dateutil==2.6.1
pytz==2018.3
s3transfer==0.1.13
six==1.11.0
whitenoise==3.3.1
django-extensions==2.0.7
newspaper3k==0.2.6
lxml==4.2.1
html5lib==1.0.1
webencodings==0.5.1
spacy==2.0.11
en-core-web-sm==2.0.0
spacy-nightly==2.0.0rc2
ftfy==4.4.3