{% extends 'base.html' %}
    {% block body %}
    {% include 'nav.html' %}
        <div class="wrapper">
            <img class="title-logo" src="https://s3.us-east-2.amazonaws.com/slantappbucket/media/logos/logo-curves-white.jpg">
            <h1 class="page-heading">the archives<i></i></h1>
            <hr>
            <div class="container">
                {% for date, issues in date_issue_dictionary.items %}
                    <h5><b>{{ date|date:'l, F d' }}</b></h5>
                            <br>
                            {% for issue in issues %}
                                {% if forloop.last %}
                                    <p>and {{ issue.issue }}</p>
                                    <br><br>
                                    <p><span style="font-weight: bold;">
                                        <a href="/archive/{{ date|date:'Y' }}/{{ date|date:'m' }}/{{ date|date:'d' }}">Read</a></img>
                                        |
                                        Listen <span style="font-weight: normal;">(coming soon)</span>
                                    </span></p>
                                    <hr>
                                {% else %}
                                    <p>{{ issue.issue }};</p>

                                {% endif %}
                            {% endfor %}
                {% endfor %}
            </div>
    {% include 'footer.html' %}
    {%  endblock %}