<!doctype html>
<html lang="en">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117258095-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117258095-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="the skeww is a news website that uses a combination of machine learning and human judgement to curate news articles based on their political bias and to summarize opposing views on key political and economic issues.">
    <meta name="keywords" content="News,News Bias,Media Bias,Fake News,Politics,Filter Bubble,Conservative,Liberal,Editorial,Op-Ed,Commentary">

    <meta property="og:url" content="http://www.theskeww.com/issue/{{ issue.issue|slugify }}/{{ issue.date|date:'Y' }}/{{ issue.date|date:'m' }}/{{ issue.date|date:'d' }}/" />
    <meta property="og:title" content="{{ issue.issue }}" />
    <meta property="og:description" content="{{ issue.summary_main }} See what the left and right are saying at the skeww." />
    <meta property="og:image" content="https://s3.us-east-2.amazonaws.com/slantappbucket/media/logos/logo-curves-white.jpg" />
    <meta property="fb:app_id" content="251573308734831" />

    <link rel="icon" href="../../../../favicon.ico">

    <title>the skeww | objectively biased</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'admin/js/skeww-jquery.js' %}"></script>

    <link rel="shortcut icon" type="image/png" href="https://s3.us-east-2.amazonaws.com/slantappbucket/media/logos/favicon.ico"/>

  </head>

  <body>

    {% block body %}{% endblock %}

  </body>

</html>