{% extends 'base.html' %}
    {% block body %}
    {% include 'nav.html' %}
        <div class="wrapper">
            <div class="title-wrapper">
                <h1><span style="text-align: center">THE <i>SLNT</i></span></h1>
                <p>Escape the filter bubble with the best commentary from the left, right, and center.</p>
            </div>
            <div class="row row-header">
                <div class="col-4 table-header"><h2 style="text-align: left">Left</h2></div>
                <div class="col-4 table-header"><span style="text-align: center;"><h2 style="text-align: center">Center</h2></span></div>
                <div class="col-4 table-header"><h2 style="text-align: right">Right</h2></div>
            </div>

            <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
            </script>

            {% for issue in issues %}
                <div class="row row-table">
                    <div class="col-12 row-table-text-issue"><p class="row-title">{{ issue.issue }}</p></div>
                            <div class="col-12 justify-content-start row-table-text">
                                {% for article in articles %}
                                    {% if article.issue == issue %}
                                        <a href="{{ article.url }}"><img src="https://slantappbucket.s3.us-east-2.amazonaws.com/media/{{ article.publication_name.publication_logo }}" class="logo" style="margin-left: {{ article.bias }}%;" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>{{ article.publication_name }}</b><br> {{ article.title }} <br> By {{ article.byline }} <br> {{ article.date }}"></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                    </div>
            {% endfor %}
        </div>
    {% include 'footer.html' %}
    {%  endblock %}
