{% extends 'base.html' %}
    {% block body %}
    {% include 'nav.html' %}
        <div class="wrapper">
            <div class="title-wrapper">
                <h1 class="page-heading">the <i>skeww</i></h1>
                <p>The best news commentary from the left, right, and center.</p>
            </div>
            <div class="row row-header">
                <div class="col-4 table-header"><h2 style="text-align: left"><span style="color:blue;">Left</span></h2></div>
                <div class="col-4 table-header"><span style="text-align: center;"><h2 style="text-align: center"><span style="color:purple;">Center</span></h2></span></div>
                <div class="col-4 table-header"><h2 style="text-align: right"><span style="color:red;">Right</span></h2></div>
            </div>
            <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
            </script>
            <!-- Per views.py, issues limited to those that have display=True -->
            {% for issue in issues %}
                <div class="row ">
                    <div class="col-12 row-table-text-issue" data-toggle="collapse" data-target="#{{ issue.issue }}" aria-expanded="false" aria-controls="collapseOne">
                        <p class="row-title">{{ issue.issue }} ▾</p>
                    </div>
                    <div class="col-12 summary-text-main">
                        <p>{{ issue.summary_main }}</p>
                    </div>
                </div>

                {% if forloop.first %}
                    <div id="{{ issue.issue }}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion"><!-- Expand card for first issue -->
                {% else %}
                    <div id="{{ issue.issue }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"><!-- Collapse card for all other issues -->
                {% endif %}
                <div class="row ">
                    <div class="col-12"><hr class="summary-line"></div>
                    <div class="col-12 row-table">
                        <!-- Per views.py, articles limited to those that have display=True -->
                        {% for article in articles %}
                            {% if article.issue == issue %}
                                <a href="{{ article.url }}" target="_blank"><img src="https://slantappbucket.s3.us-east-2.amazonaws.com/media/{{ article.publication_name.publication_logo }}" class="logo" style="margin-left: {{ article.bias }}%;" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>{{ article.publication_name }}</b><br> <i>{{ article.title }}</i> <br> {{ article.date }}"></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                    <div class="col-12"><hr class="summary-line"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 summary-text-left">
                                <h2 style="text-align: left"><span style="color:blue;">What the left is saying</span></h2>
                                {{ issue.summary_left }}
                            </div>
                            <div class="col-sm-6 summary-text-right">
                                <h2 style="text-align: left"><span style="color:red;">What the right is saying</span></h2>
                                {{ issue.summary_right }}
                            </div>
                        </div>
                        <div class="col-12"><hr class="summary-line"></div>
                        <div class="col-sm-12 comment-row">
                            <p class="comment-text"><a href="/issue/?issue={{ issue.issue }}&date={{ issue.date|date:"Y-m-d" }}#disqus_thread">🗨️ Join the conversation ></a></p>
                        </div>
                        <div class="col-12"><hr class="summary-line-top-padding"></div>
                    </div>
                </div>
            {% endfor %}
            <hr>
            <br>
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
            <form action="https://theslnt.us18.list-manage.com/subscribe/post?u=eb4eb06d700162088aa250614&amp;id=797ef6d1dc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Escape the filter bubble.<br>Get the <i>skeww</i> delivered to your inbox daily.</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_eb4eb06d700162088aa250614_797ef6d1dc" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button mailchimp-button"></div>
                </div>
            </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
    {% include 'footer.html' %}
    {%  endblock %}