{% extends 'base.html' %}
    {% block body %}
    {% include 'nav.html' %}
        <div class="wrapper">
            <div class="title-wrapper">
                <h1><span style="text-align: center">THE <i>SLNT</i></span></h1>
                <p>Escape the filter bubble with the best<br> commentary from the left, right, and center.</p>
            </div>
            <div class="row row-header">
                <div class="col-3 table-header"><h2 style="text-align: left">ISSUES</h2></div>
                <div class="col-3 table-header"><h2 style="text-align: left">LEFT</h2></div>
                <div class="col-3 table-header"><span style="text-align: center;"><h2 style="text-align: center">CENTER</h2></span></div>
                <div class="col-3 table-header"><h2 style="text-align: right">RIGHT</h2></div>
            </div>

            <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
            </script>

            {% for issue in issues %}
                <div class="row row-table">
                    <div class="col-3 justify-content-start row-table-text"><p class="row-title">{{ issue.issue }}</p></div>
                            <div class="col-9 justify-content-start row-table-text">
                                {% for article in articles %}
                                    {% if article.issue == issue %}
                                        <a href="{{ article.url }}"><img src="https://vignette.wikia.nocookie.net/logopedia/images/c/c4/Washington-post-logo-thumb.jpg/revision/latest?cb=20140719115207" class="logo" style="margin-left: {{ article.bias }}%;" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>{{ article.publication_name }}</b><br> {{ article.title }} <br> By {{ article.byline }} <br> {{ article.date }}"></a>
                                        {{ article__publication.publication_logo }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                    </div>
                <hr>
            {% endfor %}
        </div>
    {% include 'footer.html' %}
    {%  endblock %}
