{% extends 'base.html' %}
    {% block body %}
    {% include 'nav.html' %}
        <div class="wrapper">
            <div class="title-wrapper">
                <img class="title-logo" src="https://s3.us-east-2.amazonaws.com/slantappbucket/media/logos/logo-curves-white.jpg">
                <h1 class="page-heading">the discussion<i></i></h1><!-- Extra italics to create consistent spacing with index.html -->
{#                {{  }}#}
                {#                <p>{% for issue in issues %}{% if issue.issue == url_issue %}{{ issue.issue }}{% endif %}{% endfor %}</p>#}
            </div>
            <div class="row row-header">
                <div class="col-4 table-header"><h2 style="text-align: left"><span style="color:blue;">Left</span></h2></div>
                <div class="col-4 table-header"><span style="text-align: center;"><h2 style="text-align: center"><span style="color:purple;">Center</span></h2></span></div>
                <div class="col-4 table-header"><h2 style="text-align: right"><span style="color:red;">Right</span></h2></div>
            </div>
            <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
            </script>

{#            {% for issue in issues %}#}
{#                {% if issue.issue == url_issue %}#}
                    <div class="row ">
                        <div class="col-12 row-table-text-issue">
                            <p class="row-title row-title-issue">{{ issue.issue }}</p>
                        </div>
                        <div class="col-12 summary-text-main">
                            <p>{{ issue.summary_main }}</p>
                        </div>
                    </div>
                    <div id="{{ issue.issue }}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion"><!-- Expand card for first issue -->
                    <div class="row ">
                        <div class="col-12"><hr class="summary-line"></div>
                        <div class="col-12 row-table">
                            <!-- Per views.py, articles limited to those that have display=True -->
                            {% for article in articles %}
                                {% if article.issue == issue %}
                                    <a href="{{ article.url }}" target="_blank"><img src="https://slantappbucket.s3.us-east-2.amazonaws.com/media/{{ article.publication_name.publication_logo }}" class="logo" style="margin-left: {{ article.bias }}%;" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>{{ article.publication_name }}</b><br> <i>{{ article.title }}</i> <br> {{ article.date }}"></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                        <div class="col-12"><hr class="summary-line"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 summary-text-left">
                                    <h2 style="text-align: left"><span style="color:blue;">What the left is saying</span></h2>
                                    {{ issue.summary_left }}
                                </div>
                                <div class="col-sm-6 summary-text-right">
                                    <h2 style="text-align: left"><span style="color:red;">What the right is saying</span></h2>
                                    {{ issue.summary_right }}
                                </div>
                            </div>
                        </div>
                    </div>
{#                {% endif %}#}
{#            {% endfor %}#}
            <hr>
            <br>

            <!-- DISQUS START -->
            <div id="disqus_thread"></div>
            <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://http-theskeww-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <!-- DISQUS END -->

            <!-- INSIDE BODY TAG -->
            <script id="dsq-count-scr" src="//http-theskeww-com.disqus.com/count.js" async></script>

        </div>
    {% include 'footer.html' %}
    {%  endblock %}