{% extends 'base.html' %}
    {% block body %}
    {% include 'nav.html' %}
        <div class="wrapper">
            <img class="title-logo" src="https://s3.us-east-2.amazonaws.com/slantappbucket/media/logos/logo-curves-white.jpg">
            <h1 class="page-heading">thank you<i></i></h1>
            <hr>
            <br>
            <p id="thank-you">
                Thank you for subscribing to the daily <i>skeww</i>. Did you know that you can follow us on <a href="https://twitter.com/theskeww" target="_blank">Twitter</a> and <a href="https://fb.me/theskeww" target="_blank">Facebook</a>? We also have a <a href="https://itunes.apple.com/us/podcast/the-daily-skeww/id1399345131?mt=2" target="_blank">podcast that is available on iTunes</a>.
                <br><br>
                If you have ideas for how we can improve the <i>skeww</i>, please <a href="/contact">contact us</a>. Enjoy!
                <br><br>
                –Sean & Keal
            </p>
        </div>
    {% include 'footer.html' %}
    {%  endblock %}