{% extends 'base.html' %}
    {% block body %}
    {% include 'nav.html' %}
        <div class="wrapper">
            <h1 class="page-heading">Why The <i>SLNT</i>?</h1>
            <hr>
            <br>
            <p>The news today is... interesting. The line between objective fact and opinion is blurring, #fakenews is proliferating and – depending on who you talk to –  toppling democracies across the world, and social media is creating "filter bubbles" that show us content that reinforces our preexisting biases. We created THE <i>SLNT</i> to take a stand against the news insanity.</p>
            <br>
            <br>
            <p>We believe that bias can be valuable as long as it's transparent. And that's our mission: to use a combination of machine learning, natural language processing, and human judgement to expose you, dear reader, to opinions from all over the political spectrum.</p>
            <br>
            <br>
            <p>Thank you very much for reading with us. And <a href="/contact/">drop us a line</a> sometime!</p>
        </div>
    {% include 'footer.html' %}
    {%  endblock %}