* {
    font-family: "Avenir", "PT Sans", Helvetica, Arial !important;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

h2 {
    font-size: 1em;
    font-weight: bold;
}

p {
    margin: 0px !important;
    padding: 0px !important;
    display: inline;
}

a {
    color: black;
}

a:hover {
    color: black;
}

html, body {
    height: 100%;
    max-width: 800px;
    margin: 0 auto !important;
}

@-moz-document url-prefix() {
html, body {
    max-width: 9999px;
    width: 100%
  }
}

.navbar {
    padding: 4px 4px 4px 4px;
    background-color: white;
    margin-bottom: 10px;
    border-bottom: 1px solid #bfbfbf;
}

.navbar-toggler {
    padding: 0px;
}

/*.navbar {*/
    /*padding: 15px 30px 15px 30px;*/
    /*background-color: #7D00A1;*/
    /*color: white;*/
    /*margin-bottom: 50px;*/
    /*border: none;*/
    /*-webkit-box-shadow: 0px 5px 10px 0px rgba(148,148,148,0.95);*/
    /*-moz-box-shadow: 0px 5px 10px 0px rgba(148,148,148,0.95);*/
    /*box-shadow: 0px 5px 10px 0px rgba(148,148,148,0.95);*/
/*}*/

.navbar-brand {
    color: black !important;
    font-size: 1.25em;
    font-weight: 900;
    padding: 0px 0px 0px 0px;
    line-height: normal !important;
}

.nav-link {
    color: black !important;
    padding: 0px;
}

.nav-link:hover {
    /*font-weight: 600;*/
    color: #black !important;
}

.navbar-toggler {
    background-color: white;
}

.nav-logo {
    height: .75em;
    width: auto;
    vertical-align: baseline;
}

.wrapper {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    /*max-width: 1000px;*/
}

.title-logo-wrapper {
    text-align: center;
}

.title-logo {
    display: block;
    margin-top: 35px;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
}

.page-heading {
    margin-top: 5px;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

.prettyDate {
    font-weight: bold;
}

.title-wrapper{
    max-width: 75%;
    /*background-color: purple;*/
    color: black;
    text-align: center;
    margin: 0 auto !important;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
}

.row-header {
    height: 2em !important;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #bfbfbf;
    margin-top: 40px;
}

.table-header {
    height: 2em;
    margin-bottom: 1em;
    padding-left: 0px;
    padding-right: 0px;
    /*background: linear-gradient(to right, blue , red);*/
    color: black;
    vertical-align: middle;
}

.row {
    width: 100%;
    /*border: 1px solid black;*/
    margin-left: 0px;
}

.row-table {
    /*display: table;*/
    width: 100%;
    height: 3em;
}

.row-table-issue {
    /*display: table;*/
    width: 100%;
    height: 6em;
}

hr {
    border-top: #bfbfbf 1px solid;
}

.row-table-text-issue {
    display: table-cell;
    align: center;
    vertical-align: middle;
    padding: 0px;
    height: 2em;
}

.row-table-text {
    display: table-cell;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    /*width: 25%;*/
}

.row-title {
    /*position: absolute;*/
    display: block;
    margin: auto;
    align: center;
    text-align: center;
    top: 1em;
    bottom: 1em;
    /*background-color: #00a680;*/
    background: linear-gradient(to right, blue , red);
    color: white;
    line-height: 2em;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 10px;
    cursor: pointer;
}

.row-title-issue {
    cursor: default !important;
}

.logo {
    position: absolute;
    bottom: 1em;
    height: 2em;
    width: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    transform: translateX(-50%);
    border: 1px solid #bfbfbf;
    border-radius: 50%;
}

.tooltip-inner {
    background-color: purple;
    color: white;
    opacity: 1 !important;
    font-size: 1em;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: purple;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: purple;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    border-left-color: purple;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: purple;
}

.summary-text-main {
    padding: 1em 1em 1em 1em;
}

.card-body {
    padding: 0px;
}

.summary-line {
    margin-top: 0px;
}

.summary-line-top-padding {
    margin-top: 1em;
}

.summary-text-left {
    padding: 0em 1em 1em 1em;
}

.summary-text-right {
    padding: 0em 1em 1em 1em;
}

#disqus_thread {
    padding: 0em 2em 0em 2em;
}

.comment-row {
    padding: 0em 1em 0em 1em;
}

.comment-text {
    font-weight: bold;
}

.mailchimp-button {
    background-color: purple !important;
}

.form {
  padding: 25px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(148,148,148,0.95);
  -moz-box-shadow: 0px 5px 10px 0px rgba(148,148,148,0.95);
  box-shadow: 0px 5px 10px 0px rgba(148,148,148,0.95);
}

.form-wrapper{
    max-width: 500px;
    margin: 0 auto !important;
    padding: 10px 10px 10px 10px;
}

input {
    background-color: purple;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 0px solid white;
    width: 100px;
    cursor: pointer;
}

/*input:hover {*/
    /*background-color: purple;*/
/*}*/

input[type=text] {
  max-width: 500px;
}

input[type=email] {
  max-width: 500px;
}

input[type=password] {
  max-width: 500px;
}

textarea {
  border: 1px solid rgba(205, 205, 205, 1);
  height: 100px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 500px;
}

select {
  max-width: 300px;
}

#thank-you {
    text-align: center;
}

.pre-footer {
    bottom: 100px;
    left: 0;
    height: 25px;
    margin-top: 100px;
    background-color: white;
}

.footer {
    position: relative;
    display: table;
    margin-top: -50px;
    height: 150px;
    background-color: white;
    color: white;
    text-align: center;
    width: 100%;
    border-top: 1px solid #bfbfbf;
    padding: 20px 0px 50px 0px;
}

.footer-container {
    display: table-row;
    text-align: center;
}

.footer-content {
    display: table-cell;
    width: 100%;
    text-align: center;
}

.footer p {
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 1em;
}

.social-icon-footer {
    align: center;
    height: 2em;
    width: 2em;
    margin: 5px;
}

.social-icon-main {
    height: 1em;
    width: 1em;
    vertical-align: baseline;
}

.social-icon-main-facebook {
    height: 1em;
    vertical-align: baseline;
}

.contact-icon {
    height: 1.5em;
}

.team-photo {
    height: 10em;
    width: 10em;
    margin: 0em 0em 1em 0em;
}

#website-text {
    margin-bottom: 1em !important;
}
.subscription-text {
    margin: 0em 0em 1em 0em;
    font-weight: bold;
    text-align: center;
}

.subscription-form {
    width: 20em;
    margin: .5em auto 0em auto;
}

/*Center placeholder text in subscription form*/

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  text-align: center;
}

/* Firefox 19+ */
::-moz-placeholder {
  text-align: center;
}

/* IE 10+ */
:-ms-input-placeholder {
  text-align: center;
}

/* Firefox 18- */
:-moz-placeholder {
  text-align: center;
}

/*End the craziness*/

.modal-subscribe {
    text-align: center;
}

.archive-text-date {
    line-height: 1;
    font-weight: bold;
}

.navbar-dropdown-text {
    padding: 0em 24px 0em 24px !important;
    font-weight: bold;
}

.dropdown-item {
    line-height: 1 !important;
}